.apid-c-page-landingpage, .apid-c-page-apipage {
  --pf-c-page__main--ZIndex: 1;
    max-width: 1500px; //remove before developers.redhat.com classes
    margin: auto;
 }

.apid-c-page-landingpage {
  .pf-c-sidebar__main {
    height: 100%;
  }
  .pf-c-sidebar__content {
    height: 100%;
    box-shadow: inset 0.125rem 0 0.125rem -0.0625rem rgba(3, 3, 3, 0.16);
  }
  .pf-c-text-input-group {
    width: 250px;
    &__icon {
      display: none;
    }
    &__text-input {
      padding-left: var(--pf-global--spacer--sm);
    }
  }
  .pf-c-check {
    --pf-c-check__label--FontSize: var(--pf-c-content--small--FontSize);
    --pf-c-check__label--LineHeight: var(--pf-c-content--small--LineHeight);
  }
  .pf-c-page__main-section {
    box-shadow: inset 0.125rem 0 0.125rem -0.0625rem rgba(3, 3, 3, 0.16);
  }
  .apid-c-page__main-section-gallery {
    min-height: 500px;
  }

  .pf-c-card__body {
    display: flex;
    flex-direction: column;
    .apid-tags__main {
      margin-top: auto;
      padding-top: var(--pf-global--spacer--sm);
    }
    svg {
      width: 38px;
      height: 38px;
    }
  }
}

.apid-c-page-apipage {
  .pf-c-page__main-section {
    border-bottom: 1px solid var(--pf-global--palette--black-300);
  }
  .pf-c-sidebar__main {
    height: 100%;
  }
  .pf-c-sidebar__content {
    height: 100%;
    min-height: 500px;
    .pf-c-page__main-section {
      box-shadow: inset 0.2rem 0 0.2rem -0.0625rem rgba(3, 3, 3, 0.1);
    }
  }
}

.apid-c-card-codeblock {
  .pf-c-dropdown {
    --pf-c-dropdown__toggle--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-dropdown__toggle--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle--m-plain--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle--m-plain--hover--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle-icon--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown--m-plain--hover__toggle-icon--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__menu--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-dropdown__menu-item--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__menu-item--hover--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__menu-item--hover--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);
  }
  .pf-c-button {
    color: var(--pf-global--Color--light-200);
  }
  .pf-c-code-editor {
    --pf-c-code-editor__header--before--BorderBottomWidth: 0;
    --pf-c-code-editor__main--BorderColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-code-editor__main--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-code-editor__code--PaddingLeft: 0;
    --pf-c-code-editor__code--PaddingTop: var(--pf-global--spacer--md);
  }
  .monaco-editor, .monaco-editor-background {
    padding-bottom: 0;
    padding-top: 0;
    background-color: var(--pf-global--BackgroundColor--dark-100);
  }
}

.apid-c-accordion-operations.pf-c-accordion {
  --pf-c-accordion__expanded-content-body--PaddingLeft: var(--pf-global--spacer--2xl);
  border-left: 1px solid var(--pf-global--BorderColor--100);
  border-right: 1px solid var(--pf-global--BorderColor--100);
  .pf-c-accordion__toggle.pf-m-expanded {
    background: var(--pf-global--BackgroundColor--light-200);
  }
  .pf-c-accordion__toggle {
    flex-direction: row-reverse;
    justify-content: flex-end;
    &-icon {
      align-self: flex-start;
      margin-right: var(--pf-global--spacer--sm);
    }
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
       // temp fix - until conflict with sidebar is resolved
      @media screen and (min-width: 769px) and (max-width: 1200px) {
        width:450px;
      }
       @media screen and (min-width: 1201px) and (max-width: 1400px)  {
        width:800px;
      }
      @media screen and (min-width: 1401px) {
        width:1000px;
      }
    }
  }
}

.apid-c-accordion-schemas.pf-c-accordion {
  --pf-c-accordion__expanded-content-body--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-accordion__expanded-content-body--PaddingTop: 0;
  border-left: 1px solid var(--pf-global--BorderColor--100);
  border-right: 1px solid var(--pf-global--BorderColor--100);
  .pf-c-accordion__toggle.pf-m-expanded {
    background: var(--pf-global--BackgroundColor--light-200);
  }
    .pf-c-accordion__toggle {
    flex-direction: row-reverse;
    justify-content: flex-end,
  }
  .pf-c-accordion__toggle-text {
    text-align: left;
    margin-left: var(--pf-global--spacer--md);
  }
}

.apid-c-jump-links {
  .pf-c-jump-links__link {
    --pf-c-jump-links__link--PaddingTop: var(--pf-global--spacer--sm);
    --pf-c-jump-links__link--PaddingBottom: 0;
  }

  .pf-c-jump-links__list {
    --pf-c-jump-links__list--PaddingTop: var(--pf-global--spacer--sm);
    --pf-c-jump-links__list--PaddingBottom: var(--pf-global--spacer--sm);
  }
}

.apid-reqbody-header {
  padding-top: var(--pf-global--spacer--md);
}

.apid-m-text-break-all {
  word-break: break-all;
}
