.pf-c-card__body {
  svg {
    width: 38px;
    height: 38px;
  }
}


//remove before migrating to developers.redhat.com
.apid-c-page-landingpage, .apid-c-page-apipage {
  max-width: 1450px;
  margin: auto;
}

.apid-c-card-codeblock {
  .pf-c-card__header {
    background-color: var(--pf-global--BackgroundColor--dark-200);
    border-radius: 30px 30px 0 0;
  }
  .pf-c-card__footer {
    background-color: var(--pf-global--BackgroundColor--dark-100);
    border-radius: 0 0 30px 30px;
  }
  .pf-c-dropdown {
    --pf-c-dropdown__toggle--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-dropdown__toggle--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle--m-plain--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle--m-plain--hover--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle-icon--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown--m-plain--hover__toggle-icon--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__menu--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-dropdown__menu-item--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__menu-item--hover--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__menu-item--hover--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);
  }
  .pf-c-button {
    color: var(--pf-global--Color--light-200);
  }
  .pf-c-code-editor {
    --pf-c-code-editor__header--before--BorderBottomWidth: 0;
    --pf-c-code-editor__main--BorderColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-code-editor__main--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-code-editor__code--PaddingLeft: 0;
    --pf-c-code-editor__code--PaddingTop: var(--pf-global--spacer--md);
    &__code {
      padding-bottom: 0;
    }
  }
  .monaco-editor, .monaco-editor-background {
    padding-bottom: 0;
    padding-top: 0;
    background-color: var(--pf-global--BackgroundColor--dark-100);
  }
}
