//remove before migrating to developers.redhat.com
 .apid-c-page-landingpage, .apid-c-page-apipage {
   max-width: 1450px;
   margin: auto;
 }

.apid-c-page-landingpage {
  .pf-c-page__main-section {
    box-shadow: inset 0.125rem 0 0.125rem -0.0625rem rgba(3, 3, 3, 0.16);
  }
  .pf-c-card__body {
    svg {
      width: 38px;
      height: 38px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .apid-c-page-landingpage {
    .pf-c-page__main-section {
      box-shadow: none;
    }
  }
}

.apid-c-sidebar {
  .pf-c-text-input-group {
    width: 250px;
    &__icon {
      display: none;
    }
    &__text-input {
      padding-left: var(--pf-global--spacer--sm);
    }
  }
  .pf-c-content {
    font-size: var(--pf-c-content--small--FontSize);
    font-weight: var(--pf-global--FontWeight--bold);
  }
  .pf-c-check {
    --pf-c-check__label--FontSize: var(--pf-c-content--small--FontSize);
    --pf-c-check__label--LineHeight: var(--pf-c-content--small--LineHeight);
  }
}

.apid-c-card-codeblock {
  .pf-c-card__header {
    background-color: var(--pf-global--BackgroundColor--dark-200);
    border-radius: 16px 16px 0 0;
  }
  .pf-c-card__footer {
    background-color: var(--pf-global--BackgroundColor--dark-100);
    border-radius: 0 0 16px 16px;
  }
  .pf-c-dropdown {
    --pf-c-dropdown__toggle--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-dropdown__toggle--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle--m-plain--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle--m-plain--hover--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__toggle-icon--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown--m-plain--hover__toggle-icon--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__menu--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-dropdown__menu-item--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__menu-item--hover--Color: var(--pf-global--Color--light-200);
    --pf-c-dropdown__menu-item--hover--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);
  }
  .pf-c-button {
    color: var(--pf-global--Color--light-200);
  }
  .pf-c-code-editor {
    --pf-c-code-editor__header--before--BorderBottomWidth: 0;
    --pf-c-code-editor__main--BorderColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-code-editor__main--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-code-editor__code--PaddingLeft: 0;
    --pf-c-code-editor__code--PaddingTop: var(--pf-global--spacer--md);
    &__code {
      padding-bottom: 0;
    }
  }
  .monaco-editor, .monaco-editor-background {
    padding-bottom: 0;
    padding-top: 0;
    background-color: var(--pf-global--BackgroundColor--dark-100);
  }
}

.apid-operations {
  .operation-summary {
    margin-right: 20px;
  }
  .operation-path {
    color: var(--pf-global--Color--dark-200);
  }

  .pf-c-accordion__toggle {
    flex-direction: row-reverse;

    .pf-c-accordion__toggle-text {
      flex-grow: 1;
      text-align: left;
      margin-left: 1.5em;
    }
  }

  .pf-c-accordion__expanded-content-body {
    padding-left: 4em;
  }
}
